@import url("./main.css");
@import url("./trending.css");
@import url("./search.css");

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --primary: #f1f1f1;
  --secondary: #fcfcfc;
  --tertiary: #ffffff;
  --accent: #1cb955;
  --bg-gray: #dadada;
  --bg-gray-dark: #787777;
  --content-primary: #101010;
  --audio-progress: 0%;
  --volume-progress: 100%;
}

body {
  padding: 18px;
  background-color: var(--primary);
}

.container {
  display: flex;
  height: calc(100%);
  width: calc(100%);
  gap: 18px;
}

.aside {
  /* background-color: red; */
  flex: 0.7;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aside > section {
  border-radius: 8px;
  background-color: var(--secondary);
  padding: 16px 16px;
}

.aside .profile {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile > div > img {
  width: 60px;
  border-radius: 50%;
}

.profile > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile > i:first-of-type {
  background-color: var(--tertiary);
  padding: 12px;
  border-radius: 4px;
  font-weight: 900;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.077);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.077);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.355);
}

.profile div:first-of-type h5 {
  color: var(--accent);
}

.library {
  flex: 4;
  /* background-color: red; */
}

.library > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.library > header > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.library > header > div i,
.library > header > i {
  color: black;
  font-weight: 300;
  font-size: 24px;
}

.library > header > i {
  font-weight: 700;
}

.aside .library > header > div > p {
  font-size: 12px;
  color: black;
  font-weight: 600;
}

.aside .library > .favourite-songs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.library > .favourite-songs > .row {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  border-radius: 4px;
  padding: 12px;
}

.library > .favourite-songs > .row > div > img {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  object-fit: cover;
}

.library > .favourite-songs > .row > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.favourite-songs > .row > div > div > h5 {
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--content-primary);
}

.favourite-songs > .row > div > div > p {
  line-height: 12px;
  font-size: 12px;
  /* font-weight: 700; */
}

.favourite-songs > .row > i {
  color: var(--accent);
}

.audio {
  padding: 16px;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audio > div {
  display: flex;
  justify-content: space-between;
}

.audio > div:first-of-type > i {
  font-size: 24px;
}

.audio > div:first-child > i:last-child {
  color: var(--accent);
}

.audio > div:first-child > img {
  width: calc(35%);
  height: auto;
  border-radius: 8px;
}

.audio > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.audio > div:nth-of-type(2) > h4 {
  font-size: 16px;
  text-transform: capitalize;
  color: var(--content-primary);
  opacity: 0.9;
  line-height: 16px;
}

.audio > div:nth-of-type(2) > p {
  font-size: 12px;
  text-transform: lowercase;
  color: var(--content-primary);
  opacity: 0.4;
  /* line-height: 12px; */
}

.audio .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.audio .controls > i:first-child,
.audio .controls i:last-child {
  /* background-color: pink; */
  font-size: 24px;
  transform: scale(1);
  transition: all 0.1s ease-out;
}

.audio .controls > i:first-child:active,
.audio .controls > i:last-child:active {
  transform: scale(0.7);
  transition: all 0.1s ease-in;
}

.audio .controls div:nth-child(2) {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-gray);
  transform: scale(1);
  transition: all 0.2s ease-out;
}

.audio .controls div:nth-child(2):active {
  transform: scale(0.4);
  transition: all 0.2s ease-in;
}
.audio .audio-progress-indicator {
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.audio .audio-progress-indicator > span {
  font-size: 12px;
  color: var(--content-primary);
  opacity: 0.4;
}

.audio .audio-progress-indicator > div {
  flex: 1;
  position: relative;
}

.audio-progress-indicator > div > span {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--bg-gray);
  border-radius: 4px;
}

.audio-progress-indicator > input[type="range"] {
  position: relative;
  flex: 1;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  height: 4px;

  background-color: var(--bg-gray);
  border-radius: 4px;
  outline: none;
}

.audio-progress-indicator > input[type="range"]::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: var(--audio-progress);
  height: 4px;
  background-color: var(--bg-gray-dark);
  cursor: pointer;
  border-radius: 4px;
}

.audio-progress-indicator > input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: var(--bg-gray-dark);
  border-radius: 50%;
  z-index: 999;
}

.audio-features {
  margin-top: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* icons */
.audio-features > i {
  font-size: 16px;
  color: var(--content-primary);
}

.audio-features > .volume {
  box-sizing: border-box;
  /* flex: 1; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 4px;
  width: 30%;
}

.audio-features > .volume > input[type="range"] {
  width: 100%;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  height: 4px;
  background-color: var(--bg-gray);
  border-radius: 4px;
  outline: none;
}

.audio-features > .volume > input[type="range"]::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: var(--volume-progress);
  height: 4px;
  background-color: var(--bg-gray-dark);
  border-radius: 4px;
}

.audio-features > .volume > input[type="range"]::-webkit-slider-runnable-track {
  background-color: olive;
  height: 4px;
  border-radius: 4px;
}

.audio-features > .volume > input[type="range"]::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--bg-gray);
  height: 4px;
  width: 4px;
}

.audio-features > .volume > input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  margin: -2px 0 0 0;
  background-color: var(--bg-gray-dark);
}

/********************** 



        Main



***********************/

.container > main {
  background-color: var(--secondary);
  flex: 2;
  border-radius: 8px;
  padding: 20px 60px;
  overflow-y: auto;
}

.container > main::-webkit-scrollbar {
  width: 12px;
  border-radius: 8px;
  background-color: transparent;
}

.container > main::-webkit-scrollbar-track {
  background-color: transparent;
  height: 100%;
  width: 20px;
}

.container > main::-webkit-scrollbar-thumb {
  background-color: var(--bg-gray);
  height: 2px;
  width: 12px;
  border-radius: 20px;
  display: none;
}

.container > main:hover::-webkit-scrollbar-thumb {
  display: inline-block;
}

main > nav > div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

main .navbar {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  transition: 0.4s;
  /* background-color: pink; */
}
main .navbar > div {
  /* background-color: var(--secondary); */
  padding: 8px 12px;
  border-radius: 24px;
  backdrop-filter: blur(1.5px);
  background-color: rgba(255, 255, 255, 0.7);
}

main .navbar > div > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--content-primary);
}

main .navbar > div > a > i {
  font-size: 18px;
}

main .navbar > div > a.active {
  background-color: var(--primary);
  padding: 8px 12px;
  border-radius: 20px;
  color: var(--accent);
  transition: 0.9s ease-out;
}

main .navbar > div > a.active > span {
  display: block;
}

main .navbar > div > a > span {
  display: none;
}

main .navbar > div > a > i {
  font-weight: 900;
}
